@media screen and (max-width:1200px) {
    ul li:nth-child(1) {
        font-size: 0.7rem;
        margin-right: 20vw;
    }

    nav {
        font-size: 1rem;
        text-wrap: nowrap;
        padding: 0 1vw 2vw 1vw;
    }

    .navbar-list li {
        margin: 0 1.5vw;
    }

    .second-text-box {
        width: 30vw;
    }

    .head-input-one {
        width: 30vw;
    }

    .head {
        height: 68vh;
    }


    /* *the three divisions with phtoto */

    .page1 {
        margin-top: 5vw;
    }

    .fs-content-div {
        bottom: 1px;
        width: calc(100% - 16px);
        padding: 8px;
    }


    .fs-content-div h2 {}

    .fs-content-div p {

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

}

@media screen and (max-width:600px) {

    nav a {
        color: var(--nav-text-color);
    }

    nav {
        font-size: 1.1rem;
        padding: 0 2vw 20vw 2vw;
    }

    ul li:nth-child(1) {
        display: none;
    }

    .navbar-list li {
        margin-bottom: 35px;
    }

    .menu-bar {

        position: absolute;
        top: 1rem;
        left: 2rem;
    }

    .menu-close {
        position: absolute;
        top: 1.7rem;
        left: 2rem;
    }

    .navbar-list {
        display: none;
    }

    .tnavbar-list {
        padding: 7rem 1rem;
        display: block;
        width: 100vw;
        height: 100vh;
        background-color: var(--head-text-color);
        margin: 0;
        transition: all .50s ease-in-out;
        -webkit-transition: all .50s ease-in-out;
        -moz-transition: all .50s ease-in-out;
        -ms-transition: all .50s ease-in-out;
        -o-transition: all .50s ease-in-out;
    }

    .tmenu-title {
        position: absolute;
        display: block;
        top: 1rem;
        right: 3rem;
        font-size: 2.5rem;
    }

    .menu-bar {
        display: block;

    }

    .menu-bar-display {
        display: block;
    }

    .menu-close-display {
        display: none;
    }

    .visible {
        display: block;

    }

    .not-visible {
        display: none;
    }



    /* * for the head second part */

    .page1 {
        margin-top: 5vw;
        max-width: 80vw;
    }

    .head-second-part {
        margin-top: 12vw;
    }

    .head-second-part h1 {
        font-size: 4vh;
        margin: 40px 0;
    }

    .second-text-box {
        width: 30vw;
    }

    .head-input-one {
        width: 30vw;
    }

    /* *the three divisions with phtoto */

    .page1-first-section {
        flex-wrap: wrap;
        flex-direction: row;

    }

    .dining,
    .nightlife,
    .order {
        width: 47%;
        height: 28vw;
    }

    .nightlife {
        margin-top: 15px;
    }

    .fs-image {
        border-radius: 10px 10px 0 0;
        -webkit-border-radius: 10px 10px 0 0;
        -moz-border-radius: 10px 10px 0 0;
        -ms-border-radius: 10px 10px 0 0;
        -o-border-radius: 10px 10px 0 0;
    }

    .fs-content-div {
        bottom: 1px;
        width: calc(100% - 8px);
        padding: 4px;
        border-radius: 0 0 10px 10px;
        -webkit-border-radius: 0 0 10px 10px;
        -moz-border-radius: 0 0 10px 10px;
        -ms-border-radius: 0 0 10px 10px;
        -o-border-radius: 0 0 10px 10px;
    }

    .fs-content-div h2 {
        font-size: 12.5px;
    }

    .fs-content-div p {
        font-size: 11px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}