@media screen and (max-width: 1200px) {
  ul li:nth-child(1) {
    font-size: 0.7rem;
    margin-right: 20vw;
  }
  nav {
    font-size: 1rem;
    text-wrap: nowrap;
  }
  .navbar-list li {
    margin: 0 1.5vw;
  }
  .second-text-box {
    width: 30vw;
  }
  .head-second-part {
    top: 12vw;
  }
  .head-input-one {
    width: 30vw;
  }
  .head {
    height: 68vh;
  }

  .page1 {
    margin-top: 5vw;
  }
  .fs-content-div {
    bottom: 1px;
    width: calc(100% - 16px);
    padding: 8px;
  }
  .page1-second-section .wrapper {
    margin-top: 0.2rem;
  }
  .collection-card-image img {
    height: 15rem;
  }
}

@media screen and (max-width: 539px) {
  .head {
    position: static;
  }

  nav a {
    color: var(--nav-text-color);
  }

  nav {
    font-size: 1.1rem;
  }

  ul li:nth-child(1) {
    display: none;
  }

  .navbar-list li {
    margin-bottom: 35px;
  }

  .menu-bar {
    z-index: 1;
    position: absolute;
    top: 1rem;
    left: 2rem;
  }

  .menu-close {
    position: absolute;
    top: 1.7rem;
    left: 2rem;
  }

  .navbar .navbar-list {
    display: none;
  }

  .navbar.squeez .navbar-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 7rem 1rem;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: var(--head-text-color);
    margin: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
  }

  .navbar.squeez .menu-title {
    position: absolute;
    display: block;
    top: 1rem;
    right: 2rem;
    font-size: 2.5rem;
    margin: 0;
  }

  .navbar.squeez #menu {
    display: none;
  }

  .navbar.squeez #close {
    display: block;
  }

  .navbar #menu {
    display: block;
  }

  .navbar #close {
    display: none;
  }

  .menu-bar {
    display: block;
  }

  /* * ? the head second part */

  .page1 {
    margin-top: 5vw;
    max-width: 80vw;
    margin-bottom: 3rem;
  }

  .head-second-part {
    top: 40vw;
  }

  .head-second-part h1 {
    font-size: 4vh;
    margin: 40px 0;
  }

  .second-text-box {
    width: 30vw;
  }

  .head-input-one {
    width: 30vw;
  }

  /* *the three divisions with phtoto */

  .page1-first-section {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .dining,
  .nightlife,
  .order {
    width: 47%;
    height: 28vw;
  }

  .nightlife {
    margin-top: 15px;
  }

  .fs-image {
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
  }

  .fs-content-div {
    bottom: 1px;
    width: calc(100% - 8px);
    padding: 4px;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
  }

  .fs-content-div h2 {
    font-size: 12.5px;
  }

  .fs-content-div p {
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /* ?for the second part in page 1 */
  .page1-second-section {
    margin-top: 1.5rem;
  }

  .page1-second-section h2 {
    font-size: 1.6rem;
  }

  .page1-second-section .heading h6 {
    font-size: 13px;
  }

  /* *the second part of page 1   collection */

  .collection-card h6 {
    font-size: 9px;
    padding: 0 6px;
  }

  .collection-card p {
    font-size: 12px;
    padding: 0 6px;
  }

  .collection-card-image img {
    height: 12rem;
  }

  .collections {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    gap: 11px;
  }

  .collection-card {
    max-width: 48%;
  }

  .page1-second-section .wrapper {
    display: block;
  }

  .page1-second-section .wrapper > div:nth-child(3) {
    flex: 1 1 25%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
  }

  .page1-second-section .wrapper > div:nth-child(3) {
    margin-top: 1rem;
  }

  .page1-second-section .wrapper > div:nth-child(3) span {
    padding: 5px 0;
  }

  .page1-second-section a {
    font-size: 13px;
  }

  .page1-second-section a i {
    margin-left: 3px;
  }

  /* page1 third secion */
  .page1-third-section {
    margin-top: 2rem 0;
  }

  .page1-third-section .heading {
    font-size: 1.4rem;
  }

  .localities-card-special .wrapper {
    /* height: calc(100% - 11.5px); */
    height: 3rem;
  }

  .localities-card,
  .localities-card-special {
    width: 100%;
  }

  .localities-card h3,
  .localities-card-special h3 {
    font-size: 1rem;
  }

  .localities-card p {
    font-size: 0.8rem;
  }
  /* page2 */
  .lhs {
    display: none;
  }

  .rhs {
    width: 20rem;
    height: 26rem;
    display: flex;
    justify-content: center;
    font-family: var(--font-family-para);
    font-size: 1rem;
  }

  .rhs .content h1 {
    font-size: 1.9rem;
  }
  .rhs .content p {
    font-size: 0.9rem;
  }

  .rhs .content {
    width: 20rem;
    margin-top: 2rem;
  }

  .rhs .login-textbox .firstTextbox input {
    width: 98%;
    height: 50px;
    font-size: 0.8rem;
  }

  .rhs .login-textbox .secondTextbox input {
    width: 75%;
    height: 20px;
    font-size: 0.9rem;
  }
  .rhs .login-textbox .secondTextbox select {
    height: 50px;
    width: 20%;
    font-size: 0.7rem;
  }

  .rhs .login-textbox .secondTextbox div {
    width: 99%;
    height: 50px;
  }

  .red-button {
    width: 70px;
    height: 50px;
  }

  .red-button a {
    color: #ffff;
    text-decoration: none;
    font-size: 0.9rem;
  }

  .red-button a span {
    display: none;
  }

  .red-button a::after {
    content: "Share";
  }

  .rhs .get-it-image img {
    width: 6rem;
  }
}
