 :root {
     --head-text-color: #ffff;
     --font-family-head: 'poppins', sans-serif;
     --font-family-para: 'Open Sans', sans-serif;
     --nav-text-color: #696969;
     --heading-text-color:#363636;
     --para-text-color:#4f4f4f;
 }



 body{
     margin: 0;
 }

 /*! just for cheking use unversal */

 /* nav a:hover{
color:beige
} */


 .head {
     background-image: url("/images/header.avif");
     background-size: cover;
     background-position: center;
     height: 60vh;
 }

 /* *navbar */

 nav {
     font-family: var(--font-family-head);
     font-size: 1.2rem;
     padding: 0 2vw 3vw 2vw;
     background-color: transparent;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all .50s ease-in-out;
     -webkit-transition: all .50s ease-in-out;
     -moz-transition: all .50s ease-in-out;
     -ms-transition: all .50s ease-in-out;
     -o-transition: all .50s ease-in-out;
 }

 nav a {
     color: var(--head-text-color);
 }

 .navbar-list {
     width: 100%;
     padding: 1.5rem 0;
     padding-left: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
 }

 .navbar-list a {
     text-decoration: none;
 }

 .navbar-list li {
     text-decoration: none;
     margin: 0 20px;
 }

 ul li:nth-child(1) {
     margin-right: 28vw;
     font-weight: bolder;
     font-size: 0.9rem;
 }

 ul li:nth-child(1) i {
     margin-right: 5px;
 }

 .menu-bar {
     display: none;
     z-index: 10;
     transition: all .50s ease-in-out;
     -webkit-transition: all .50s ease-in-out;
     -moz-transition: all .50s ease-in-out;
     -ms-transition: all .50s ease-in-out;
     -o-transition: all .50s ease-in-out;
 }

 .menu-title {
     z-index: 10;
     display: none;
     transition: all .50s ease-in-out;
     font-family: 'Lobster', sans-serif;
     -webkit-transition: left .5s;
     -moz-transition: left .5s;
     -ms-transition: left .5s;
     -o-transition: left .5s;
 }

 .menu-close {
     display: none;
     z-index: 10;

 }


 /* *head second part */
 .head-second-part {
     font-family: var(--font-family-head);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

 }

 .head-logo {
     width: 16rem;
     display: block;

 }

 .head-second-part h1 {
     margin: 30px 0;
     color: var(--head-text-color);
     text-align: center;
     font-size: 5vh;
 }




 /* *head text boxes */

 .text-boxes input:focus {
     outline: none;
 }

 .text-boxes {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 3.5rem;
     background-color: #ffff;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
 }

 .first-text-box {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #ffff;
     padding: 0 0.5rem;
     width: min-content;
     border-right: 2px solid rgb(79, 79, 79, 0.3);
 }

 .svg-location {
     margin: 0 4px;
 }

 .svg-arrow {
     margin: 0 4px;
 }

 .head-input-one {
     border: none;

 }

 .second-text-box {
     border-radius: 5px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     background-color: #ffff;
     padding: 0 0.5rem;
     width: 35vw;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
 }

 .svg-search {
     margin: 0 10px 0 0;
     ;
 }

 .head-input-two {
     border: none;
     width: 100%;
 }




 /* *the three divisions with phtoto */
 .page1 {
     max-width:90vw;
     margin: 0 auto;
     margin-top: 3vw;
 }



 .page1-first-section {
    width: 100%;
     display: flex;
     /* flex-wrap: wrap-reverse; */
     justify-content: space-between;


 }

 .fs-image {
     height: 60%;
     width: 100%;
     object-fit: cover;
     border-radius: 15px 15px 0 0;
     -webkit-border-radius: 15px 15px 0 0;
     -moz-border-radius: 15px 15px 0 0;
     -ms-border-radius: 15px 15px 0 0;
     -o-border-radius: 15px 15px 0 0;
}

.fs-content-div{
    position: absolute;
    background-color: white ;
    width: calc(100% - 2rem);
    bottom:5.2vw;
    padding: 1rem;
    border: 1px solid rgb(79, 79, 79,0.1);
    border-radius:0 0 15px 15px ;
    -webkit-border-radius:0 0 15px 15px ;
    -moz-border-radius:0 0 15px 15px ;
    -ms-border-radius:0 0 15px 15px ;
    -o-border-radius:0 0 15px 15px ;
}

.dining , .nightlife , .order{
    margin: 0;
    padding: 0;
width: 32.3333%;
box-sizing: border-box;
 position: relative;


}

.fs-content-div h2{
    color :var( --heading-text-color);
    font-weight: 500;
    font-family: var(--font-family-head);
    font-size:1.6vw;
    margin: 0;
}
.fs-content-div p{
    color:var( --para-text-color);
    font-family:var(--font-family-para);
    font-size: 1.2vw;
    margin: 0;
}

