 :root {
     --head-text-color: #ffff;
     --font-family-head: 'poppins', sans-serif;
     --font-family-para: 'Open Sans', sans-serif;
     --nav-text-color: #696969;
     --heading-text-color: #363636;
     --para-text-color: #4f4f4f;
     --heading-text-color2: #1c1c1c
 }

 ::selection {
     background-color: #000;
     color: #ffff;
 }



 body {
     margin: 0;
 }

 /*! just for cheking use unversal */

 .head {
     background-image: url("/images/header.avif");
     background-size: cover;
     background-position: center;
     height: 60vh;
     position: relative;
     overflow: hidden;

 }


 /* *navbar */

 nav {
     font-family: var(--font-family-head);
     font-size: 1.2rem;
     background-color: transparent;
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all .50s ease-in-out;
     -webkit-transition: all .50s ease-in-out;
     -moz-transition: all .50s ease-in-out;
     -ms-transition: all .50s ease-in-out;
     -o-transition: all .50s ease-in-out;
 }

 nav a {
     color: var(--head-text-color);
 }

 .navbar-list {
     width: 100%;
     padding-left: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     list-style: none;
 }

 .navbar-list a {
     text-decoration: none;
 }

 .navbar-list li {
     text-decoration: none;
     margin: 0 20px;
 }

 ul li:nth-child(1) {
     margin-right: 28vw;
     font-weight: bolder;
     font-size: 0.9rem;
 }

 ul li:nth-child(1) i {
     margin-right: 5px;
 }

 .menu-bar {
     display: none;
     z-index: 10;
     transition: all .50s ease-in-out;
     -webkit-transition: all .50s ease-in-out;
     -moz-transition: all .50s ease-in-out;
     -ms-transition: all .50s ease-in-out;
     -o-transition: all .50s ease-in-out;
 }

 .menu-title {
     z-index: 10;
     display: none;
     transition: all .50s ease-in-out;
     font-family: 'Lobster', sans-serif;
     -webkit-transition: left .5s;
     -moz-transition: left .5s;
     -ms-transition: left .5s;
     -o-transition: left .5s;
 }

 .menu-close {
     display: none;
     z-index: 10;

 }


 /* *head second part */
 .head-second-part {
     font-family: var(--font-family-head);
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     width: 100%;
     position: absolute;
     top: 7vw;

 }

 .head-logo {
     width: 16rem;
     display: block;

 }

 .head-second-part h1 {
     margin: 30px 0;
     color: var(--head-text-color);
     text-align: center;
     font-size: 5vh;
 }




 /* *head text boxes */

 .text-boxes input:focus {
     outline: none;
 }

 .text-boxes {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 3.5rem;
     background-color: #ffff;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
 }

 .first-text-box {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #ffff;
     padding: 0 0.5rem;
     width: min-content;
     border-right: 2px solid rgb(79, 79, 79, 0.3);
 }

 .svg-location {
     margin: 0 4px;
 }

 .svg-arrow {
     margin: 0 4px;
 }

 .head-input-one {
     border: none;

 }

 .second-text-box {
     border-radius: 5px;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     background-color: #ffff;
     padding: 0 0.5rem;
     width: 35vw;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
 }

 .svg-search {
     margin: 0 10px 0 0;
     ;
 }

 .head-input-two {
     border: none;
     width: 100%;
 }


 /*  ! the page 1 */
 .page1 {
     max-width: 75vw;
     margin: 0 auto;
     margin-top: 3vw;
     box-sizing: border-box;
      margin-bottom: 6rem;
 }


 /* * page 1 first section */

 .page1-first-section {
     width: 100%;
     display: flex;
     justify-content: space-between;
     position: relative;

 }

 .dining,
 .nightlife,
 .order {
     position: relative;
     margin: 0;
     padding: 0;
     width: 32.333%;
     height: 16vw;
     box-sizing: border-box;
     transition: transform 0.3s ease-in;
     -webkit-transition: transform 0.3s ease-in;
     -moz-transition: transform 0.3s ease-in;
     -ms-transition: transform 0.3s ease-in;
     -o-transition: transform 0.3s ease-in;
 }

 .fs-image {
     height: 90%;
     width: 100%;
     object-fit: cover;
     border-radius: 15px 15px 0 0;
     -webkit-border-radius: 15px 15px 0 0;
     -moz-border-radius: 15px 15px 0 0;
     -ms-border-radius: 15px 15px 0 0;
     -o-border-radius: 15px 15px 0 0;
 }

 .fs-content-div {
     position: absolute;
     background-color: white;
     width: calc(100% - 20px);
     bottom: 1px;
     padding: 10px;
     border: 1px solid rgb(79, 79, 79, 0.1);
     border-radius: 0 0 15px 15px;
     -webkit-border-radius: 0 0 15px 15px;
     -moz-border-radius: 0 0 15px 15px;
     -ms-border-radius: 0 0 15px 15px;
     -o-border-radius: 0 0 15px 15px;
 }



 .fs-content-div h2 {
     color: var(--heading-text-color);
     font-weight: 500;
     font-family: var(--font-family-head);
     font-size: 1.6vw;
     margin: 0;
 }

 .fs-content-div p {
     color: var(--para-text-color);
     font-family: var(--font-family-para);
     font-size: 1.2vw;
     margin: 0;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 .card-hover:hover {
     transform: scale(105%);
     -webkit-transform: scale(105%);
     -moz-transform: scale(105%);
     -ms-transform: scale(105%);
     -o-transform: scale(105%);
 }



 /* *second section */
 .page1-second-section {
     margin-top: 4vw;
 }

 .page1-second-section .wrapper {
     display: flex;
     flex-wrap: wrap;
     align-items: center;

 }

 .page1-second-section .wrapper>div:nth-child(3) {
     flex: 1 1 25%;
     display: flex;
     justify-content: end;
     align-items: center;

 }

 .page1-second-section .wrapper>div:nth-child(2) {
     flex: 0 0 100%;
     order: 3;
 }

 .page1-second-section .wrapper>div:nth-child(1) {
     flex: 1 1 75%;
 }



 .page1-second-section a {
     display: flex;
 }

 .page1-second-section h2 {
     font-size: 2.5vw;
     font-family: var(--font-family-head);
     font-weight: 500;
     margin: 0;
     color: var(--heading-text-color2)
 }

 .page1-second-section .heading h6 {
     font-size: 1.2vw;
     font-family: var(--font-family-para);
     margin: 0;
     font-weight: 400;
     color: var(--para-text-color);
 }

 .page1-second-section a {
     font-family: var(--font-family-para);
     color: #e03546;
     font-size: 1.2vw;
     font-weight: 400;
     text-decoration: none;
 }

 .page1-second-section a i {
     margin-left: 10px;
 }


 /* *the .collection-card section */
 .collections {
     display: flex;
     justify-content: space-between;
     margin-top: 2rem;
 }


 .collection-card {
     max-width: 24%;
     position: relative;
 }

 .collection-card-image {
     width: 100%;
 }

 .collection-card-image img {
     border-radius: 10px;
     width: 100%;
     height: 20rem;
     object-fit: cover;
     border-radius: 5px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
 }

 .collection-card-text {
     position: absolute;
     bottom: 0px;
     width: 100%;
     z-index: 10;

 }

 .collection-card p {
     margin: 0;
     font-size: 19px;
     font-family: var(--font-family-head);
     color: #ffff;
     padding: 0 15px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;


 }

 .collection-card-text div {
     display: flex;
     align-items: center;
     margin-bottom: 13px;
 }


 .collection-card h6 {
     margin: 0;
     font-family: var(--font-family-para);
     color: #ffff;
     font-size: 14px;
     padding: 0 15px;
 }

 .overlay {
     position: absolute;
     bottom: 0;
     width: 100%;
     height: 40%;
     background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
     border-radius: 10px;
 }


 /* !localities part  last part in page 1*/
 .page1-third-section{
    margin-top: 4rem;
 }

 .page1-third-section .heading {
     font-family: var(--font-family-head);
     font-size: 2.5vw;
     font-weight: 100;
 }


 .page1-third-section .wrapper {
     display: flex;
     flex-wrap: wrap;


 }

 .localities-card,
 .localities-card-special {
     width: 33.3333%;

 }

 .page1-third-section .localities-card .wrapper div{
    white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
 }


 .localities-card .wrapper,
 .localities-card-special .wrapper {
     border: 1px solid rgb(79, 79, 79, 0.1);
     border-radius: 10px;
     padding: 0.9rem 1.5rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 0 5px 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
 }

 .localities-card-special .wrapper {
     height: calc(100% - 11.5px);
     justify-content: center;
     align-items: center;
     margin: 0 5px 0;
     padding: 0;

 }

 .localities-card-special .wrapper:hover {
     cursor: pointer;
 }

.page1-third-section .localities-invisible {
    display: none;
}

 .page1-third-section.see-less .localities-invisible {
     display: block;
 }

 .page1-third-section  #localities-card-button {
     transform: rotate(90deg);
     -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     -o-transform: rotate(90deg);
}

 .page1-third-section.see-less  #localities-card-button {
     transform: rotate(270deg);
     -webkit-transform: rotate(270deg);
     -moz-transform: rotate(270deg);
     -ms-transform: rotate(270deg);
     -o-transform: rotate(270deg);
}





 .localities-card-special .wrapper div {
     margin-right: 10px;
 }


 .localities-card h3,.localities-card-special h3{
     margin: 0;
     font-size: 1.3rem;
     font-family: var(--font-family-head);
     font-weight: 500;
     letter-spacing: 0.5px;
     margin: 0 0 5px;

 }

 /* .localities-card-special h3 {
     margin: 0;
     font-size: 1.3rem;
     font-family: var(--font-family-head);
     font-weight: 500;
     letter-spacing: 0.5px;

 } */

 .localities-card p {
     margin: 0;
     font-size: 1.1rem;
     font-family: var(--font-family-para);
 }